section{
    display: flex;
    justify-content: center;
  }
  h1{
    text-align: center;
  }
  img{
    border: none;
    border-radius: 20px;
    height: 300px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.1s;
  }
